:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-blue: hsl(229, 23%, 23%);
    --darkish-blue: hsl(227, 10%, 46%);

    --dark-gray: hsl(0, 0%, 59%);
}

@font-face {
    font-family: fa;
    src: url("fonts/KumbhSans-Bold.ttf"), url("fonts/KumbhSans-Light.ttf"), url("fonts/KumbhSans-Regular.ttf");
}
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    box-sizing: border-box;
    font-family: "KumbhSans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    /*background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-size: auto;
    background-repeat: no-repeat; */
    z-index: 1;

    position: relative;
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40vw;
    width: 100%;
    height: 100%;
    background-image: url("images/bg-pattern-top.svg");
    background-repeat: no-repeat;
    z-index: 10;
    transform: rotate(70deg);
}

.container::after {
    content: "";
    position: absolute;
    bottom: -80vh;
    right: -60vw;
    width: 100%;
    height: 100%;
    background-image: url("images/bg-pattern-bottom.svg");
    background-size: auto;
    background-repeat: no-repeat;
    z-index: 10;
    transform: rotate(45deg);
}

.card {
    border-radius: 1rem;
    box-shadow: 0.4rem 1.5rem 3rem rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    overflow: hidden;
    font-size: 2.5rem;
    z-index: 1000;
}

.card__header {
    background-image: url("images/bg-pattern-card.svg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 150px;
    position: relative;
}

.card__profile-photo {
    position: absolute;
    border-radius: 50%;
    bottom: -5rem;
    left: 50%;
    transform: translate(-50%, 0);
    border: 3px solid #fff;
}

.card__body {
    padding: 6rem;
    text-align: center;
    background-color: #fff;
}

.card__username {
    font-weight: 700;
    font-size: 3rem;
}

.card__age {
    font-weight: 100;
    color: var(--dark-gray);
}

.card__location {
    color: var(--dark-gray);
}

.card__footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3rem;
    background-color: #fff;
}

.card__info {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.card__info-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1rem;
}

.card__info-subtitle {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--dark-gray);
}
